<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>easybuy</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>denglu</servlet-name>
    <servlet-class>com.easybuy.web.denglu</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>zhuce</servlet-name>
    <servlet-class>com.easybuy.web.zhuce</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>zsgc</servlet-name>
    <servlet-class>com.easybuy.web.zsgc</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userservlet</servlet-name>
    <servlet-class>com.easybuy.web.userservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>productzsgc</servlet-name>
    <servlet-class>com.easybuy.web.productzsgc</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newsservlte</servlet-name>
    <servlet-class>com.easybuy.web.newsservlte</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>denglu</servlet-name>
    <url-pattern>/servlet/denglu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zhuce</servlet-name>
    <url-pattern>/servlet/zhuce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zsgc</servlet-name>
    <url-pattern>/servlet/zsgc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userservlet</servlet-name>
    <url-pattern>/servlet/userservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>productzsgc</servlet-name>
    <url-pattern>/servlet/productzsgc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newsservlte</servlet-name>
    <url-pattern>/servlet/newsservlte</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>